.certificate ul {
  list-style-type: none;
}
.certificate li {
  margin-bottom: 20px;
  font-size: 20px;
}
.certificate-title {
  color: #f26c39;
  display: inline-block;
}
.certificate h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 36px;
}

@media only screen and (min-width: 922px) {
  .certificate li {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .certificate-title {
    min-width: 250px;
  }
  .certificate h2 {
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 56px;
  }
}
